body {
	margin: 0 0;
	padding: 0;
	background: url("/pairie_background.jpg");
	background-repeat: no-repeat;
	background-size: 150%;
}
.sheet > div {
	margin: 5px;
}
.row {
	display: grid;
	grid-template-columns: 40px 2fr 1fr;
	margin: 1px 0;
	padding: 1px;
	width: 100%;
	height: 40px;
	border: 1px solid black;
}

.toolbar {
	position: relative; 
	bottom: 0px;
	width: 100%;
	background: gray;
}
.toolbar > div {
	color: white;
}

.row > div {
	margin: 5px;
}

.checkbox {
	height: 30px;
	width: 30px;
	border: 1px solid black;
	text-align: center;
	font-size: 16pt;
}

.cell {
	text-align: left;
}

.list {
	grid-area: list;
}

.profile {
	grid-area: profile;
	border: 1px solid black;
	height: 100%;
	overflow: hidden;
	padding: 3px 3px;
}

.profile > textarea{
	resize: none;
	height:100%;
	width:100%;
}

.sheet {
	background: rgba(242, 242, 242, 0.95);
	margin: 99px 22px 0px 22px;
	min-height: 550px;
	padding: 2%;
	display: grid;
	column-gap: 3px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas:
	"profile"
	"list"
}
@media only screen and (min-width: 900px) {
	.sheet {
		display: grid;
		column-gap: 3px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		"list profile"
	}
}
